body {
	margin: 20px 10px 10px 10px;
}
.container0 {
	color: black;
	text-align: center;
	background-color: rgb(255, 159, 128);
	border: 2px solid black;
	margin: -2px -1px 3px 320px;
}
.container1 {
	color: white;
	text-align: center;
	background-color: rgb(255, 128, 128);
	border: 2px solid black;
	margin: -2px -1px 3px 320px;
}
.container2 {
	font-style: italic;
	color: black;
	text-align: center;
	background-color: rgb(255, 255, 179);
	border: 2px solid black;
	margin: -2px -1px 3px 320px;
}

* {
	margin: 15px 20px 10px 60px;
	border-color: red;
	margin-right: 50px;
	background-color: white;
}

div p {
	text-align: center;
	margin-right: 5px;
	margin-left: 3px;

}

h1 {
	text-align: center;
	font-weight: bold;


}

/* Simple Responsive Framework. */
.row {
	width: 100%;
}

/****** Desktop devices only  *******/
@media (min-width:  992px) {
	.col-lg-1, .col-lg-2, .col-lg-3 {
		float: left;
		margin: 10px;
		margin-left: 50px;
		border: 2px solid black;
	}

	.col-lg-1 {
		width: 8.33%;
	}
	.col-lg-2 {
		width: 16.66%;
	}
	.col-lg-3 {
		width: 25%;
	}
}

/****** Mobile devices only  *******/
@media (min-width:  767px) {
	.col-lg-1, .col-lg-2, .col-lg-3{
		float: left;
		font-style: !important;
		border: 2px solid black;
	}

	.col-lg-1 {
		width: 8.33%;
	}
	.col-lg-2 {
		width: 16.66%;
	}
	.col-lg-3 {
		width: 25%;
	}
}

/****** Tablet devices only  *******/
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-1, .col-md-2, .col-md-3 {
		float: left;
		width: 10px;
		border: 2px solid black;
	}

	.col-md-1 {
		width: 8.33%;
	}
	.col-md-2 {
		width: 16.66%;
	}
	.col-md-3 {
		width: 25%;
	}
	
}